.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-text-color);

  .theme-toggle-btn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .theme-toggle-btn:hover {
    opacity: 0.8;
  }
}
