.header {
  width: 100%;
  height: 255px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'Satoshi', sans-serif;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;

  .inner {
    display: flex;
    align-items: center;
    flex: 1 0 0px;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    max-width: 780px;
    height: 68px;
    padding: 12px 12px 12px 24px;
    background-color: var(--header-bg-color);
    border-radius: 16px;
    position: relative;
    transition: border-radius 0.3s ease; // 부드럽게

    @media (max-width: 1024px) {
      height: 57px;
    }
    @media (max-width: 768px) {
      height: 50px;

      &.open {
        border-radius: 16px 16px 1px 1px;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      height: min-content;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background-color: rgba(20, 20, 20, 0);
        box-shadow: var(--header-hover-box-shadow);
        padding: 4px;
        border-radius: 11px;
        text-decoration: none;
        z-index: 99;

        img {
          width: 24px;
        }

        @media (max-width: 768px) {
          width: 39px;
          height: 35px;
        }
      }

      .desktop-nav {
        ul {
          display: flex;
          gap: 1rem;
          li {
            a {
              color: var(--header-text-color);
              text-decoration: none;
              cursor: pointer;
              padding: 6px 25px;
              border-radius: 12px;
              height: 40px;
              display: block;
              line-height: 1.8;
              border: 1px solid rgba(255, 255, 255, 0);
              transition: 0.35s;

              &:hover {
                border: 1px solid rgba(255, 255, 255, 0.15);
                background-color: rgba(20, 20, 20, 0);
                box-shadow: var(--header-hover-box-shadow);
              }

              &.active {
                border: 1px solid rgba(255, 255, 255, 0.15);
                background: var(--header-bg-active-color);
                color: var(--header-text-active-color);
                box-shadow: var(--header-hover-box-shadow);
              }
            }
          }
        }
      }

      .mobile-menu-wrap {
        display: flex;
        align-items: center;

        .menu-toggle-wrap {
          width: 48px;
          display: flex;
          justify-content: center;
          display: none;

          @media (max-width: 768px) {
            display: flex;
          }

          .menu-toggle {
            position: relative;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 30px;
            height: 10px;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;

            .bar {
              position: absolute;
              width: 25px;
              height: 2px;
              background-color: var(--header-text-color);
              transition: all 0.3s ease;

              &:nth-child(2) {
                top: 7px;
              }
            }

            &.open {
              .bar:nth-child(1) {
                transform: translateY(5px) rotate(-45deg);
              }
              .bar:nth-child(2) {
                top: 0px;
                transform: translateY(5px) rotate(45deg);
              }
            }

            @media (max-width: 768px) {
              display: flex;
            }
          }
        }

        .mobile-nav {
          display: none;
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.5s ease;
          background: var(--header-bg-color);
          border-radius: 0 0 16px 16px;
          position: absolute;
          top: 40px;
          right: 0;
          width: 100%;
          z-index: 10;

          @media (max-width: 768px) {
            display: block;
          }

          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1.4rem;
            padding: 20px 29px 20px;
            list-style: none;
            margin: 0;
          }

          li a {
            color: var(--header-text-color);
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
          }

          &.open {
            max-height: 300px;

            @media (max-width: 768px) {
              top: 40px;
            }
          }
        }
      }
    }
  }
}

/* 데스크탑 메뉴 숨기기 */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
}
