.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: 'Satoshi', sans-serif;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 20px;

  .inner {
    display: flex;
    align-items: center;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    max-width: 780px;
    min-height: 68px;
    padding: 12px 12px 12px 24px;
    position: relative;
    background-color: var(--header-bg-color);
    border-radius: 16px;

    .menu {
      display: flex;
      align-items: center;
      flex: 1 0 0px;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
      height: min-content;
      justify-content: space-between;
      padding: 0;

      .logo {
        text-decoration: none;
        color: var(--header-text-color);
      }

      ul {
        display: flex;
        gap: 1rem;
        li {
          width: max-content;
          height: min-content;

          a {
            color: var(--header-text-color);
            text-decoration: none;
            cursor: pointer;
            padding: 6px 30px;
            line-height: 1.4em;
            border: 1px solid rgba(255, 255, 255, 0);
            // background-color: var(--header-bg-color);
            border-radius: 12px;
            transition: 0.35s;
            height: 40px;
            display: block;
            line-height: 1.8;

            &:hover {
              border: 1px solid rgba(255, 255, 255, 0.15);
              background-color: rgba(20, 20, 20, 0);
              box-shadow: var(--header-hover-box-shadow);
            }

            &.active {
              border: 1px solid rgba(255, 255, 255, 0.15);
              background: var(--header-bg-active-color);
              color: var(--header-text-active-color);
              box-shadow: var(--header-hover-box-shadow);
            }
          }
        }
      }
    }
  }

  .theme-toggle-btn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .theme-toggle-icon {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease-in-out;
      &.rotate-right {
        animation: rotateRight 0.5s ease-out forwards;
      }
      &.rotate-left {
        animation: rotateLeft 0.5s ease-out forwards;
      }
    }

    img {
      width: 100%;
      height: 100%;
      transform-origin: center;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(135deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(-90deg);
  }
  60% {
    transform: rotate(-135deg);
  }
  80% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg); /* 360도 회전 */
  }
}
