@use '@/styles/mixins' as mixin;

.project-item {
  padding: 1.5rem 0;

  @media (max-width: 1024px) {
    padding: 2rem 0;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;
  }

  .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .content-box {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .img-wrap {
      .preview {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height: auto;
        border-radius: 1.25rem;
        box-shadow: 3px 0 7px rgb(108 108 108 / 10%);

        @media (max-width: 768px) {
          border-radius: 0.4rem;
        }

        .img {
          img {
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s ease-in-out;
          }
        }
      }
    }

    .desc-wrap {
      .desc {
        display: flex;
        gap: 1.3rem;
        margin-left: 0.5rem;

        .intro {
          flex-flow: column;
          margin-block: 1rem 0;
          gap: 0.6rem;

          @media (max-width: 1024px) {
            margin-block: 1.3rem 0;
          }

          @media (max-width: 768px) {
            margin-block: 0.2rem 0rem;
            gap: 0rem;
          }

          h3 {
            font-weight: 600;
            font-size: 1.2rem;
            margin-block: 0.7rem;
            line-height: 1.2;
            text-align: center;

            @media (max-width: 1024px) {
              height: auto;
            }

            @media (max-width: 768px) {
              font-size: 1rem;
              height: auto;
              margin-block: 0.7rem 0.9rem;
            }
          }

          p {
            line-height: 1.7;
            font-size: 1rem;

            @media (max-width: 768px) {
              line-height: 1.4;
              font-size: 0.8rem;
              margin-bottom: 0.7rem;
            }
          }
        }
      }

      .anchor-btn {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        button {
          @include mixin.button-reset;
          display: flex;
          align-items: center;
          gap: 7px;
          padding: 4px 10px;
          border-radius: 4px;
          background-color: #f8f8f8;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          transition: 0.35s;
          font-size: 0.9rem;

          img {
            width: 13px;
          }

          &:hover {
            background-color: #000;
            color: #fff;
          }

          @media (max-width: 1024px) {
            width: 100%;
            font-size: 0.6rem;
          }

          @media (max-width: 768px) {
            width: 100%;
            font-size: 0.6rem;
            box-shadow: none;
          }
        }

        @media (max-width: 768px) {
          font-size: 0.6rem;
          gap: 0.5rem;
          flex-flow: column;
          align-items: flex-start;
        }
      }
    }
  }

  &:nth-child(1) .preview {
    background: #f4eafb;
  }

  &:nth-child(2) .preview {
    background: #fff5e4;
  }

  &:nth-child(3) .preview {
    background: #e2f2e2;
  }

  &:nth-child(4) .preview {
    background: #d7eef5;
  }
}
