@use '@/styles/mixins' as mixin;

.project-item {
  padding: 1.5rem 0;

  @media (max-width: 1024px) {
    padding: 2rem 0;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;
  }

  .inner {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;

    .content-box {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .img-wrap {
      .preview {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0.625rem;
        box-shadow: 0.1875rem 0 0.4375rem rgba(108, 108, 108, 0.1);

        .img {
          img {
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s ease-in-out;

            @media (max-width: 768px) {
              border-radius: 0.25rem;
            }
          }
        }
      }
    }

    .desc-wrap {
      .desc {
        display: flex;
        gap: 1.3rem;
        margin-left: 0.5rem;

        .intro {
          flex-flow: column;
          margin-block: 1rem 0;
          gap: 0.6rem;

          @media (max-width: 1024px) {
            margin-block: 1.3rem 0;
          }

          @media (max-width: 768px) {
            margin-block: 0.2rem 0;
            gap: 0rem;
          }

          h3 {
            font-weight: 600;
            font-size: 1.2rem;
            margin-block: 0.7rem;
            line-height: 1.2;
            text-align: center;

            @media (max-width: 1024px) {
              height: auto;
            }

            @media (max-width: 768px) {
              font-size: 1rem;
              height: auto;
              margin-block: 1.2rem 0.9rem;
            }
          }

          p {
            line-height: 1.7;
            font-size: 1rem;

            @media (max-width: 768px) {
              line-height: 1.4;
              font-size: 0.8rem;
              margin-bottom: 0.7rem;
            }
          }
        }
      }

      .anchor-btn {
        @include mixin.anchor-btn-wrap;

        button {
          @include mixin.button-reset;
          @include mixin.anchor-btn;
        }
      }
    }
  }

  &:nth-child(1) .preview {
    background: #f4eafb;
  }

  &:nth-child(2) .preview {
    background: #fff5e4;
  }

  &:nth-child(3) .preview {
    background: #e2f2e2;
  }

  &:nth-child(4) .preview {
    background: #d7eef5;
  }
}
