.work-item {
  padding: 3rem 0;

  .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    .content-box {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .img-wrap {
      .preview {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: 3px 0 7px rgb(108 108 108 / 10%);

        img {
          width: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1) translateX(20px);
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
          }
        }

        &::after {
          position: absolute;
          content: attr(data-contribution);
          background: #ddd;
          padding: 8px 11px;
          border-radius: 0 0 0 8px;
          color: #000;
          top: 0;
          right: 0;
          font-size: 0.8rem;
          font-weight: bold;
        }

        &[data-contribution='기여도 100%']::after {
          background: #007bff;
          color: #fff;
        }

        &[data-contribution='기여도 40%']::after {
          background: #ffa500;
          color: #fff;
        }
      }
    }

    .desc-wrap {
      .desc {
        display: flex;
        flex-flow: column;
        gap: 1.3rem;
        margin-left: 0.5rem;

        .intro {
          margin-block: 1.9rem 0;
          display: flex;
          align-items: baseline;
          flex-direction: column;
          justify-content: flex-end;
          gap: 2px;

          span {
            font-weight: 400;
            color: #9f9f9f;
          }

          h3 {
            font-weight: 600;
            font-size: 1.5rem;
            margin-block: 0.7rem;
          }
        }

        h5 {
          font-size: 1.1rem;
          font-weight: 500;
          opacity: 0.7;
        }

        .explain {
          line-height: 1.5;

          h4 {
            border-bottom: 1px solid var(--secondary-border-color);
            margin-bottom: 0.5rem;
            padding-bottom: 0.7rem;
          }

          span {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            text-transform: capitalize;
            letter-spacing: -0.4px;

            &:not(:last-child)::after {
              content: '';
              position: absolute;
              width: 3px;
              height: 3px;
              background-color: var(--tertiary-text-color);
              border-radius: 50%;
              top: 50%;
              left: calc(100% + 7px);
              transform: translateY(-50%);
            }
          }
        }
      }

      .anchor {
        display: flex;
        gap: 10px;
        margin: 20px 5px;

        li {
          padding: 4px 8px;
          border-radius: 20px;
          background-color: #ddd;
        }
      }
    }
  }

  &:nth-child(1) .preview {
    background: #f4eafb;
  }

  &:nth-child(2) .preview {
    background: #fff5e4;
  }

  &:nth-child(3) .preview {
    background: #e2f2e2;
  }

  &:nth-child(4) .preview {
    background: #d7eef5;
  }
}
