@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300..700&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Satoshi';
  src: url('/variables/Satoshi-Variable.ttf') format('truetype'),
    url('/variables/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 100 900; /* 폰트 굵기 범위 */
  font-style: normal, italic; /* 일반과 이탤릭 스타일 설정 */
}
