@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300..700&family=Instrument+Serif:ital@0;1&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/Variables/Satoshi-Variable.ttf') format('truetype'),
    url('@/assets/fonts/Variables/Satoshi-VariableItalic.ttf')
      format('truetype');
  font-weight: 100 900; /* 폰트 굵기 범위 */
  font-style: normal, italic; /* 일반과 이탤릭 스타일 설정 */
}

// .instrument-serif-regular {
//   font-family: "Instrument Serif", serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .instrument-serif-regular-italic {
//   font-family: "Instrument Serif", serif;
//   font-weight: 400;
//   font-style: italic;
// }
