// _mixin.scss
@mixin button-reset {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

@mixin home-title {
  font-size: 60px;
  position: relative;
  z-index: 2;
}

@mixin badge {
  z-index: 1;
  position: absolute;
  top: -45px;
  left: -23px;
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background: linear-gradient(
    137deg,
    #ffffff,
    var(--badge-primary-color),
    var(--badge-secondary-color),
    #ffffff
  );
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;

  @-webkit-keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
