/* main.scss */

@use './_font';
@use './_reset';
@use './_mixins';

/* 기본 색상 (라이트모드) */
:root {
  --primary-bg-color: #fcfcfc;
  --primary-text-color: #333;
  --secondary-bg-color: #f4f4f4;

  --header-bg-color: rgb(20, 20, 20);
  --header-bg-active-color: #fff;
  --header-text-color: #fff;
  --header-text-active-color: rgb(20, 20, 20);
  --header-hover-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 20px 0px inset;

  --tertiary-bg-color: #fff;
  --tertiary-text-color: #2b2b2b;

  --primary-btn-color: #333;
  --primary-btn-text-color: #fff;
  --primary-btn-border-color: rgba(255, 255, 255, 0.15);
}

/* 다크모드 색상 */
.dark {
  --primary-bg-color: #333;
  --primary-text-color: #fff;
  --secondary-bg-color: #444;

  --header-bg-color: #fff;
  --header-bg-active-color: rgb(20, 20, 20);
  --header-text-color: rgb(20, 20, 20);
  --header-text-active-color: #fff;
  --header-hover-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px inset;

  --tertiary-bg-color: #2b2b2b;
  --tertiary-text-color: #fff;

  --primary-btn-color: #fff;
  --primary-btn-text-color: #333;
  --primary-btn-border-color: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}

/* 전체 스타일 */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: all 0.3s ease;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.frame {
  flex: 0 0 auto;
  height: auto;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;

  .inner {
    width: 100%;
    height: 100%;
    background-size: 161px;
    background-repeat: repeat;
    background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
    opacity: 0.04;
    border-radius: 0px;
  }
}

.main {
  position: relative;
  // padding-top: 100px;    width: 100%;
  height: 100%;
}

.section {
  width: 100%;
  // height: 100vh;
  height: fit-content;
}

/* 스크롤바 전체 크기 */
::-webkit-scrollbar {
  width: 12px;
  height: 0px;
  animation: 300ms ease-in-out;
}

/* 스크롤바 배경 (트랙) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 배경 색 */
  animation: 300ms ease-in-out;
}

/* 스크롤바 슬라이더 */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 슬라이더 색 */
  border: 0px solid #f1f1f1; /* 슬라이더와 배경 사이의 여백 */
  animation: 300ms ease-in-out;
}

/* 슬라이더에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  background-color: #a47864; /* 마우스 오버 시 색상 */
  animation: 300ms ease-in-out;
  cursor: pointer;
}
