@use '@/styles/mixins' as mixin;

.primary-button {
  font-family: 'Satoshi', sans-serif;
  button {
    @include mixin.button-reset;
    cursor: pointer;
    padding: 0.375rem 1.5625rem;
    line-height: 1.4em;
    border-radius: 0.75rem;
    transition: 0.35s;
    height: 2.5rem;
    display: block;
    line-height: 1.8;
    background-color: var(--primary-btn-color);
    color: var(--primary-btn-text-color);
    border: 1px solid var(--primary-btn-border-color);
    font-size: 1rem;

    @media (max-width: 1024px) {
      font-size: 0.4375rem;
      padding: 0.3125rem 1.25rem;
      height: 2.0625rem;
    }

    @media (max-width: 768px) {
      font-size: 0.5rem;
      padding: 0.1875rem 0.9375rem;
      height: 1.6875rem;
      border-radius: 0.4375rem;
    }

    &:hover {
      box-shadow: var(--header-hover-box-shadow);
    }
  }
}
