@use '@/styles/mixins' as mixin;

.primary-button {
  font-family: 'Satoshi', sans-serif;
  button {
    @include mixin.button-reset;
    cursor: pointer;
    padding: 6px 25px;
    line-height: 1.4em;
    border-radius: 12px;
    transition: 0.35s;
    height: 40px;
    display: block;
    line-height: 1.8;
    background-color: var(--primary-btn-color);
    color: var(--primary-btn-text-color);
    border: 1px solid var(--primary-btn-border-color);
    font-size: 1rem;

    @media (max-width: 1024px) {
      font-size: 0.7rem;
      padding: 5px 20px;
      height: 33px;
    }

    @media (max-width: 768px) {
      font-size: 0.6rem;
      padding: 3px 15px;
      height: 27px;
      border-radius: 7px;
    }

    &:hover {
      box-shadow: var(--header-hover-box-shadow);
    }
  }
}
