.scroll-top-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: var(--tertiary-bg-color);
  border: none;
  padding: 12px 13px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none; // 클릭 방지
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);

  svg {
    color: var(--tertiary-text-color);
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  &:hover {
    transform: translateY(-3px);
  }

  z-index: 1000;
}
