.theme-toggle-btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  &:hover {
    opacity: 0.8;
  }

  .theme-toggle-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      transform-origin: center;
    }
  }
}

/* 추가: 회전 효과 */
.theme-toggle-icon.rotating.rotate-right {
  transform: rotate(360deg);
}

.theme-toggle-icon.rotating.rotate-left {
  transform: rotate(-360deg);
}
