@use '@/styles/mixins' as mixin;

.home-work {
  width: 100%;
  padding-top: 200px;
  // background-color: #fafafa;

  .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;

    .title {
      @include mixin.home-title;
      margin-bottom: 2rem;
    }

    .badge {
      @include mixin.badge;
    }

    .container {
      article {
        margin-top: 6rem;

        h2 {
          font-size: 2rem;
        }
        .contents {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0 3rem;
          justify-content: center;
          justify-items: center;

          .content {
            margin-block: 2rem;
            .preview {
              display: inline-block;
              width: 100%;
              height: auto;
              img {
                width: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 20px;
                box-shadow: 3px 0 7px rgb(108 108 108 / 10%);
              }
            }

            .desc {
              display: flex;
              flex-flow: column;
              gap: 10px;
              h3 {
                font-weight: 600;
                font-size: 1.8rem;
                margin-block: 2rem 1rem;
              }

              p {
                span {
                  display: inline-block;
                  font-size: 1rem;
                  position: relative;
                  margin-right: 20px;
                  text-transform: uppercase;

                  &::after {
                    position: absolute;
                    // content: '';
                    width: 3px;
                    height: 3px;
                    margin: 9px 7px 0;
                    background-color: #000;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
