@use '@/styles/mixins' as mixin;

.home-about {
  width: 100%;
  padding-top: 200px;

  .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;

    .title {
      @include mixin.home-title;
      margin-bottom: 2rem;
    }

    .badge {
      @include mixin.badge;
    }

    .content {
      display: flex;
      flex-wrap: wrap;

      align-items: flex-start;
      justify-content: space-between;

      .profile {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        gap: 20px;

        .profile-img {
          flex-shrink: 0;
          width: 420px;
          height: auto;
          img {
            width: 100%;
            height: 100%;
            // border-radius: 50%;
            object-position: center center;
            object-fit: cover;
          }
        }
      }

      .text-box {
        width: 53%;
        display: flex;
        flex-flow: column;
        line-height: 1.7;
        color: var(--tertiary-text-color);
        font-weight: 500;
        margin-bottom: 3rem;

        .signature {
          width: 100%;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 1.5rem;
          word-wrap: break-word;
          letter-spacing: -0.2px;
        }
      }
    }
    .desc-box {
      display: flex;
      flex-wrap: wrap;

      h3 {
        font-size: 1.7rem;
        padding-bottom: 1rem;
      }

      ul {
        li {
          margin: 1rem 0;
        }
      }

      .work {
        margin: 0 2rem 2rem 0;
      }

      .edu {
      }
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes text-loop {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
