.con03 {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-top: 200px;
}
.con03 .text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-align: left;
  width: 70%;
  z-index: 1;
}
.con03 .text-wrap .title {
  z-index: 2;
  text-transform: capitalize;
  font-size: 18px;
}
.con03 .text-wrap .title p {
  font-family: 'Public Sans';
}
.con03 .text-wrap .title p span {
  font-family: 'Cormorant';
}
.con03 .text-wrap ul {
  line-height: 1.1;
}
.con03 .text-wrap ul li {
  text-transform: capitalize;
  font-size: 100px;
}
.con03 .text-wrap ul li:nth-child(2n) {
  font-family: 'Cormorant';
  padding-left: 5px;
}
.con03 .list-wrap .list {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  animation: scrollAnimation 10s linear infinite;
}

.con03 .list-wrap .list li {
  margin-right: 20px; /* 이미지 간격 */
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.con03 .list-wrap .btn-wrap {
  position: absolute;
  top: 60%;
  right: -50%;
  z-index: 3;
}

.con03 .list-wrap .btn-wrap a {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  transition: all 0.35s;
}

.con03 .list-wrap .btn-wrap a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  content: '';
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff url('/src/assets/Images/readMore3.png') no-repeat
    center/158px;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 0.4s;
  z-index: 2;
}

.con03 .list-wrap .btn-wrap a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 22%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.con03 .list-wrap .btn-wrap a img:nth-child(2) {
  opacity: 0;
}

.con03 .list-wrap .btn-wrap a:hover {
  border-color: transparent;
}

.con03 .list-wrap .btn-wrap a:hover img:nth-child(2) {
  opacity: 1;
  z-index: 2;
}

.con03 .list-wrap .btn-wrap a:hover::before {
  width: 100%;
  height: 100%;
}
