@use '@/styles/mixins' as mixin;

.home-about {
  padding: 9rem 3rem 0 3rem;

  @media (max-width: 1024px) {
    padding: 8rem 2rem 0 2rem;
  }

  @media (max-width: 768px) {
    padding: 7rem 1rem 0 1rem;
  }

  .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;

    .title {
      @include mixin.home-title;
      margin-bottom: 2rem;
      font-size: 3.8rem;

      @media (max-width: 1024px) {
        font-size: 3rem;
        padding: 0 0;
      }

      @media (max-width: 768px) {
        font-size: 2.5rem;
        padding: 0 1px;
        padding: 0 0.7rem;
      }
    }

    .badge {
      @include mixin.badge;
      @media (max-width: 1024px) {
        top: -30px;
        left: -1%;
        width: 64px;
        height: 64px;
      }

      @media (max-width: 768px) {
        top: -19px;
        left: -1%;
        width: 50px;
        height: 50px;
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 1024px) {
        gap: 2rem;
      }

      @media (max-width: 768px) {
        gap: 1.2rem;
      }

      .profile {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        gap: 20px;

        .profile-img {
          flex-shrink: 0;
          max-width: 420px;
          height: auto;

          img {
            width: 100%;
            height: 100%;
            object-position: center center;
            object-fit: cover;
          }
        }
      }

      .text-box {
        width: 53%;
        display: flex;
        flex-flow: column;
        line-height: 1.7;
        color: var(--tertiary-text-color);
        font-weight: 500;
        margin-bottom: 3rem;

        @media (max-width: 1024px) {
          width: 100%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        .signature {
          width: 90px;
          margin-bottom: 0.2rem;

          img {
            width: 100%;
          }
        }

        p {
          margin-bottom: 1.5rem;
          word-wrap: break-word;
          letter-spacing: -0.2px;
          font-size: 1rem;

          @media (max-width: 1024px) {
            font-size: 0.9rem;
          }
        }
      }

      .go-about {
        width: fit-content;
        display: inline-flex;
        align-items: center;
        gap: 7px;
        color: #78c7f9;
        transition: 0.35s;

        @media (max-width: 768px) {
          font-size: 0.9rem;
        }

        svg {
          background-color: #78c7f9;
          border-radius: 50%;
          font-size: 12px;
          margin-top: 2px;
          padding: 3px;
          color: #fff;

          path {
            color: var(--primary-bg-color);
          }
        }

        &:hover {
          opacity: 0.7;
          transform: translateX(5%);
        }
      }
    }

    .desc-box {
      display: flex;
      flex-wrap: wrap;

      h3 {
        font-size: 1.7rem;
        padding-bottom: 1rem;

        @media (max-width: 1024px) {
          font-size: 1.5rem;
        }

        @media (max-width: 768px) {
          font-size: 1.3rem;
        }
      }

      ul {
        li {
          width: 100%;
          margin-bottom: 1rem;

          @media (max-width: 1024px) {
            line-height: 1.4;
          }
          @media (max-width: 768px) {
            line-height: 1.3;
            font-size: 0.9rem;
          }
        }
      }

      .work {
        margin: 0 2rem 2rem 0;
      }
    }
  }
}
