@use '@/styles/mixins' as mixin;

.home-skill {
  width: 100%;
  padding-block: 200px;

  .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    gap: 70px;

    .title-wrap {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 30px;

      .title {
        @include mixin.home-title;
      }

      .badge {
        @include mixin.badge;
      }
    }

    .content {
      width: 100%;
      display: flex;
      gap: 1rem;

      .content-box {
        position: relative;
        max-width: 380px;
        width: 100%;
        min-height: 237px;
        background-color: var(--primary-text-color);
        color: var(--primary-bg-color);
        border-radius: 20px;
        padding: 20px;
        transition: 0.35s;

        span {
          font-family: 'Cormorant', serif;
          font-size: 5rem;
          position: absolute;
          top: 0;
          right: 40px;
        }

        h1 {
          font-family: 'Instrument Serif', serif;
          font-weight: 400;
          font-style: italic;
          font-size: 2.4rem;
          padding-top: 70px;
          text-transform: capitalize;
        }

        p {
          text-transform: uppercase;
          padding-top: 30px;
          line-height: 1.6;
          letter-spacing: 2px;
        }

        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }

  .skill-loop {
    position: relative;
    overflow: hidden;
    padding-top: 130px;
    white-space: nowrap;
    display: flex;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 10%,
      rgb(0, 0, 0) 90%,
      rgba(0, 0, 0, 0) 100%
    );

    ul {
      display: flex;
      gap: 60px;
      animation: img-loop 55s linear infinite;
      width: max-content;
      li {
        text-transform: capitalize;
        width: 100px;
        transition: 0.2s;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  @keyframes img-loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
