@use '@/styles/mixins' as mixin;

.about-page {
  width: 100%;
  padding: 13rem 2rem 10rem 2rem;

  @media (max-width: 1024px) {
    padding-block: 10rem 8rem;
  }

  @media (max-width: 768px) {
    padding-block: 8rem 6rem;
  }

  .inner {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;

    .title {
      @include mixin.home-title;
      margin-bottom: 2rem;
      font-size: 3.8rem;

      @media (max-width: 1024px) {
        font-size: 3rem;
        padding: 0 0;
      }

      @media (max-width: 768px) {
        font-size: 2.5rem;
        padding: 0 1px;
        padding: 0 0.7rem;
      }
    }

    .badge {
      @include mixin.badge;

      @media (max-width: 1024px) {
        top: -30px;
        left: -1%;
        width: 64px;
        height: 64px;
      }

      @media (max-width: 768px) {
        top: -19px;
        left: -1%;
        width: 50px;
        height: 50px;
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4.375rem;
      margin-block: 5rem;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
      }
      @media (max-width: 1024px) {
        margin-block: 2rem;
      }

      .profile {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        gap: 1.25rem;

        .profile-img {
          flex-shrink: 0;
          width: 23.125rem;
          height: 23.125rem;

          img {
            width: 100%;
            height: 100%;
            object-position: center center;
            object-fit: cover;
          }

          @media (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
      }

      .text-box {
        display: flex;
        flex-flow: column;
        gap: 1.5625rem;
        line-height: 1.7;
        color: var(--tertiary-text-color);
        font-weight: 500;

        p {
          line-height: 2;
        }

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }

    .desc-box {
      margin-top: 5rem;
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 2rem;
      }

      h3 {
        text-transform: uppercase;
        font-size: 1.7rem;
        padding-bottom: 1rem;

        @media (max-width: 768px) {
          font-size: 1.3rem;
        }
      }

      ul {
        li {
          margin: 1rem 0;

          @media (max-width: 768px) {
            font-size: 0.9rem;
            line-height: 1.5;
          }
        }
      }

      .work {
        flex: 1;
        margin: 0 2rem 2rem 0;

        &:last-child {
          grid-column: 1 / -1;
        }

        @media (max-width: 1024px) {
          margin: 0;
        }
      }
    }
  }
}
