.work-inner {
  .title {
    width: 100%;
    font-size: 170px;
    line-height: 0.9;
    margin-top: 30vh;
    text-align: center;

    p {
      text-transform: capitalize;
      font-family: 'Public Sans';
    }

    p:nth-child(2) {
      font-family: 'Cormorant';
      font-size: 220px;
    }

    @media (max-width: 1024px) {
      font-size: 120px;

      p:nth-child(2) {
        font-size: 150px;
      }
    }

    @media (max-width: 768px) {
      font-size: 80px;

      p:nth-child(2) {
        font-size: 100px;
      }
    }
  }

  .work-list {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    li {
      a {
        display: block;
        background: #eae9e9;
        margin-bottom: 2rem;
        border-radius: 20px;
        padding: 2rem;
        position: relative;

        .index {
          color: #888;
          font-weight: 400;
        }

        .img-box {
          height: 245px;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 200px;
          position: relative;

          @media (max-width: 1024px) {
            padding: 0px;
            min-height: 100px;
          }

          img {
            filter: grayscale(1);
            transition: all 0.35s;
            width: 50%;

            @media (max-width: 1024px) {
              filter: grayscale(0);
            }
          }
        }

        .text-box {
          h3 {
            font-size: 35px;
            font-weight: normal;
            padding-bottom: 20px;
            color: #888;

            @media (max-width: 768px) {
              font-size: 24px;
            }
          }

          .info {
            display: flex;
            justify-content: space-between;
            color: #888;

            @media (max-width: 768px) {
              flex-direction: column;
              gap: 0.5rem;
            }
          }
        }
      }

      &:hover {
        .img-box {
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
