.work-content {
  margin-block: 2rem 1rem;

  @media (max-width: 1024px) {
    margin-block: 0 1rem;
  }

  @media (max-width: 768px) {
    margin-block: 0 1rem;
  }

  .preview {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
    cursor: pointer;
    box-shadow: 0.1875rem 0 0.4375rem rgb(108 108 108 / 10%);

    img {
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1) translateX(1.25rem);
        box-shadow: inset 0px 0px 1.25rem rgba(0, 0, 0, 0.5);
      }
    }

    &::after {
      position: absolute;
      content: attr(data-contribution);
      background: #ddd;
      padding: 0.5rem 0.6875rem;
      border-radius: 0 0 0 0.5rem;
      color: #000;
      top: 0;
      right: 0;
      font-size: 0.8rem;
      font-weight: bold;

      @media (max-width: 1024px) {
        font-size: 0.7rem;
      }

      @media (max-width: 768px) {
        font-size: 0.6rem;
        padding: 0.4375rem 0.5625rem;
      }
    }

    &[data-contribution='기여도 100%']::after {
      background: #007bff;
      color: #fff;
    }

    &[data-contribution='기여도 40%']::after {
      background: #ffa500;
      color: #fff;
    }
  }

  .desc {
    display: flex;
    flex-flow: column;
    gap: 1.3rem;
    margin-left: 0.5rem;

    .intro {
      margin-block: 1.9rem 0;
      display: flex;
      align-items: baseline;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0.625rem;

      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-block: 0.7rem;
      }
    }

    h5 {
      font-size: 1.1rem;
      font-weight: 500;
      opacity: 0.7;
    }

    .explain {
      line-height: 1.5;

      h4 {
        border-bottom: 1px solid var(--secondary-border-color);
        margin-bottom: 0.5rem;
        padding-bottom: 0.7rem;
      }

      span {
        position: relative;
        display: inline-block;
        margin-right: 1.25rem;
        text-transform: capitalize;
        letter-spacing: -0.4px;

        &:not(:last-child)::after {
          content: '';
          position: absolute;
          width: 0.1875rem;
          height: 0.1875rem;
          background-color: var(--tertiary-text-color);
          border-radius: 50%;
          top: 50%;
          left: calc(100% + 0.4375rem);
          transform: translateY(-50%);
        }
      }
    }
  }

  &:nth-child(1) .preview {
    background: #f4eafb;
  }

  &:nth-child(2) .preview {
    background: #fff5e4;
  }

  &:nth-child(3) .preview {
    background: #e2f2e2;
  }

  &:nth-child(4) .preview {
    background: #d7eef5;
  }
}
