@use '@/styles/mixins' as mixin;

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  max-width: 700px;
  width: 100%;
  max-height: 97vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 0.7rem;
  padding: 1.7rem;
  box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  font-size: 1rem;

  @media (max-width: 1024px) {
    max-width: 470px;
    padding: 1.5rem;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    max-width: 360px;
    font-size: 0.8rem;
    border-radius: 1rem;
  }

  .modal-close {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    transition: 0.35s;

    &:hover {
      color: #000;
    }

    @media (max-width: 768px) {
      font-size: 1.2rem;
      top: 0.8rem;
      right: 0.6rem;
    }
  }

  .modal-work-content {
    color: #202124;

    h3 {
      font-size: 1.5rem;
      margin-block: 0.5rem 2rem;

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
    .content-wrap {
      .content {
        margin-block: 1.7rem;
        .index {
          display: flex;
          align-items: flex-end;
          gap: 0.3rem;
          margin-block: 1rem 0.7rem;
          span {
            display: inline-block;
          }
        }
        p {
          line-height: 1.4;
          color: #666666;
        }
      }
      .skill {
        display: flex;
        align-items: center;
        margin-block: 1.5rem 1rem;
        flex-wrap: wrap;

        h4 {
          margin-right: 0.5rem;
        }
        span {
          margin-right: 0.8rem;
          position: relative;

          &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 2px;
            height: 2px;
            border-radius: 20px;
            background: #000;
            margin-left: 4px;
          }
        }
      }
    }
    .go-notion {
      display: flex;
      justify-content: flex-end;

      button {
        @include mixin.button-reset;
        color: #007bff;

        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
